@font-face {
  font-family: 'Street';
  src: url('/font/Act_Of_Rejection.ttf');
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: center space-between;
  flex-direction: column;
  padding: 1em;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;
  width: 100%;
}
.title{
  font-family: 'Street';
}
.login{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid green;
  width: 30%;
}