@font-face {
  font-family: 'StreetFighter';
  src: url('../font/Act_Of_Rejection.ttf') format('truetype');
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid red;
}
nav{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;
}
.title {
  font-family: 'StreetFighter';
  width: 25;
  border: 1px solid green;
  text-align: center;
}
.profileOptions{ 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid green;
  width: 25%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
